.chatList {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    .search{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 10px;
        .search-bar{
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            border-radius: 10px;

            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }

            img{
                width: 20px;
                height: 20px;
            }

        }
        .add{
            width: 20px;
            height: 20px;
            background-color: rgba(17, 25, 40, 0.5);
            padding: 2px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgba(220, 223, 228, 0.5);

        img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts{
            display: flex;
            flex-direction: column;
            gap: 10px;

            span{
                front-weight: 500;
            }

            p {
                front-size: 14px;
                front-weight: 300;
            }
        }
    }

}